
.container {
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
    height: 450px;
    display: flex;
}

.image {
    float: left;
    margin-right: 15px;
    max-height: 400px;
}

.info {
    float: left;
    margin-right: 15px;
}

.genresList {
	display: flex;
    padding: 0;
}

.genresItem {
	list-style-type: none;
    padding: 0;
    margin-right: 5px;
}

.additional {
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}